<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Worth Weight in Gold</title>
    <script src="{% static 'gold/script/main.js' %}"></script>
</head>
<body>
    <div id="mainDiv">
        <h2>Worth Your Weight in Gold</h2>
        <p>Input Your Weight And Press The = Button To See What You're Worth</p>
        <p>For Your Privacy, Results Are Removed When Clicked</p>
        <label for="weight"></label>
        <input id="weight" name="weight" type="number" required>
        <label for="select"></label>
        <select id="select">
            <option>Ton</option>
            <option>Gram</option>
            <option>Troy Ounce</option>
            <option>Kilogram</option>
            <option>Imperial Pound</option>
            <option>Ounce</option>
        </select>
        <button onclick="goldApi()">=</button>
        <p id="result"></p>
    </div>
</body>
</html>