<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Worth Weight in Gold</title>
</head>
<body>
    <h2>Worth Your Weight in Gold</h2>
    <p>Input Your Weight And Press The = Button To See What You're Worth</p>
    <p>For Your Privacy, Results Are Removed When Clicked</p>
    <label for="weight"></label>
    <input id="weight" name="weight" type="number">
    <select>
        <option>Ton</option>
        <option>Gram</option>
        <option>Troy Ounce</option>
        <option>Kilogram</option>
        <option>Imperial Pound</option>
        <option>Ounce</option>
    </select>
    <button onclick="calculate()">=</button>
    <p></p>
<!-- https://www.quandl.com/api/v3/datasets/LBMA/GOLD?start_date=2020-03-26&end_date=2020-03-26&api_key=GVCsU5Xe_eu_zLUxUwML -->
</body>
</html>